body {
	background-image: url("doctor.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%; 
}

.medictab {                    /*MedicInfo Header Class*/
	max-width: 100%;
	background-color: #E4F1F7;
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
}


.medictab span {                   /* Formatting MedicInfo word under Header*/
	font-size: 60px;
	font-family: "comic sans MS",cursive,sans-serif;
	font-style: italic;
	font-weight: bold;
	color: #30CF05;
	text-decoration: underline;
	text-shadow: 1px 1px 1px #92F776;
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom: 25px;
}


.medictab input[type="text"] {					/*Style for Search tab*/
	border-color: #078A01;
	border-radius: 5px;
	padding: 10px;
	border-style: solid;
	position: absolute;
	top: 22px;
	right: 73px;
	opacity: 0.8;
	transition: border-color 0.2s linear;
}
.medictab input[type="text"]:focus {			/* Transition of search tab*/
	border-color: #0B7103;
	border-radius: 5px;
	opacity: 1;
}
.medictab input[type="submit"] {
	border-radius: 3px;
	color: darkblue;
	position: absolute;
	top: 22px;
	right: 5px;
	padding: 10px;
	background-color: powderblue;
	border: 2px solid darkgreen;
}
.medictab input[type="submit"]:hover {
	background-color: darkblue;
	color: powderblue;
	cursor: pointer;
}

.medictab ul {                               /* Navigation bar list type*/
	list-style-type: none;
	background-color: #BDFCD1;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
.medictab li {
	float: left;
}
.medictab li a, .dropbtn {					/*Vertical Navigation text coloring/formatting */ 
	display: inline-block;
	padding: 15px;
	color: #0B7103;
	text-decoration: none;
	font-size: 18px;
	transition: background-color 0.3s ease-in;
}
.medictab li a:hover, .dropdown:hover .dropbtn {
	background-color: #0B7103;
	color: white;
}
#flr {                             /* Floating some elements with id flr to float right*/
	float: right;
}
.medictab li a.active {
	background-color: #0B7103;
	color: white;
}




.home {								/* Home page information*/
	margin-top: 60px;
	max-width: 70%;
}

.home h2,h4 {             /*formatting heading*/
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	color: #006B42;
	padding: 10px;
}
.home p {
	border-bottom: 2px solid #3FAEFF;
	font-size: 18px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-style: italic;
}
.home h3 {
	font-family: "Comic Sans MS",cursive,sans-serif;
	border-bottom: 3px solid #F98746;
	color: #005DA2;
	font-size: 25px;
}



li.dropdown {                                        
	display: inline-block;
}
li .dropctn {
	display: none;
	background-color: #0DB4FE;
	position: absolute;
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px #D5F2FF;
	border-radius: 4px;
}
li .dropctn a {                                  /*    DROPDOWN MENU    */
	color: #F2FBFF;
	padding: 12px 14px;
	text-decoration: none;
	display: block;
	text-align: left;
}
li .dropctn a:hover {
	background-color: #F2FBFF;
	color: #0DB4FE;
}
li.dropdown:hover .dropctn {
	display: block;
}                                                 